@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* 画像が親要素よりも大きくなることが防ぐ */
}

/* HEADER */
header {
  background-color: #EFA358;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  padding: 0 207px;
}

.header-logo {
  font-size: 28px;
  font-weight: bold;
  padding: 26px 0 23px 24px;
}

.nav {
  display: flex;
  list-style: none;
}

.nav li {
  font-size: 20px;
  padding: 31px 20px 27px 0;
}

.fa-bars {
  display: none;
  padding: 27px 20px 26px 0;
}

/* TOP */
.top img {
  width: 100%;
}

/* CONTENT */
.main {
  background-color: #fff;
}

.main-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0 42px;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 62px;
  margin-bottom: 97px;
}

.main-text h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.main-text p {
  font-size: 16px;
  margin-bottom: 30px;
}

.btn {
  width: 197px;
  height: 47px;
  color: #fff;
  background-color: #EFA358;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  font-size: 16px;
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: #EFA358;
  color: #fff;
  text-align: center;
}

footer h2 {
  padding: 19px 0 10px 0;
  font-size: 24px;
  font-weight: bold;
}

footer p {
  padding: 10px 0 20px 0;
}

small {
  font-size: 12px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 20px;
  }

  /* CONTENT */
  .main {
    margin: 0 auto;
  }

  .main-title {
    font-size: 24px;
    padding: 20px 0;
  }

  .main-content {
    gap: 20px;
  } 

  .main-text {
    text-align: center;
  }

  .main-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .main-text p {
    font-size: 12px;
    margin-bottom: 30px;
  }

  img {
    width: 50vw;
  }

  .btn {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .wrapper {
    padding: 0 20px;
  }

  /* HEADER */
  .header-logo {
    font-size: 24px;
    padding: 26px 0 23px 0;
  }

  .nav li {
    display: none;
  }

  .fa-bars {
    display: block;
    padding: 23px 0;
  }

  /* CONTENT */
  .main {
    margin: 0 auto;
  }

  .main-title {
    font-size: 24px;
    padding: 20px 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  .main-text {
    text-align: center;
  }

  .main-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .main-text p {
    font-size: 12px;
    margin-bottom: 30px;
  }

  img {
    width: 100vw;
    margin: 0 auto;
  }

  .btn {
    width: 100%;
  }

}